 html {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  font-family: 'Dhurjati', sans-serif;
}

body 
{
  background-color: white;
}
.default-text
{
  color: white;
  font-family: 'Titillium Web';
  text-decoration: none;
}

.heading
{
  font-family: 'Dhurjati';
  color: white;
}

.links 
{
 text-decoration: none;
 color: beige;
 font-family: 'Titillium Web';
}

.navi
{
  color: white;
  font-family: 'Titillium Web';
}

.thebod 
{
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.expansion 
{
  transition: transform 0.2s ease-in-out;
}

.expansion:hover 
{
  transform: scale(1.025);
}

.icons 
{
  color: white;
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 768px) 
{
  .icons 
  {
    width: 25px;
    height: 25px;
  }

  .smiley 
  {
    display: none;
  }
}

.icons:hover 
{
  transform: scale(1.2);
}

.btn-slide-container {
  overflow: hidden;
  position: relative;
}

.btn-slide-overlay {
  position: absolute;
  top: 0;
  left: 100vw;
  width: 0;
  height: 100vh;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out; 
}

.btn-slide-container:hover .btn-slide-overlay 
{
  left: 0; 
  width: 100%; 
}
.navbtn:hover
{
color: beige;
}
.about
{
  font-family: 'Titillium Web';
  font-weight: lighter;
  color: white;
  background-color: black;
 }

 .about-description
{
  font-family: 'Titillium Web';
  font-weight: bold;
  color: white;
  background-color: black;
 }

 .foot 
 {
  color: lightgray;
  background-color: transparent;
  font-family: 'Titillium Web';
  bottom: 0;
 }

.content
{
  border: 2px solid white;
  border-radius: 15px;
  background-color: black;

  height: auto;
}

.project-list
{
  color: white;
}
.quote
{
  /*font-family: 'Playwrite CU', cursive;*/
  font-family: 'Titillium Web';
  color: beige;
}
.centered-content {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 100% !important;
}
.navBtn
{
  font-size: 1.2rem;
  font-weight:600;
}





